In [1]:
import pandas as pd
print(pd)
print(pd.__version__)

<module 'pandas' from 'C:\\Users\\Family\\anaconda3\\lib\\site-packages\\pandas\\__init__.py'>
1.2.4

In [2]:
s = pd.Series([1,2,3])
print(s)
print(type(s))

0    1
1    2
2    3
dtype: int64
<class 'pandas.core.series.Series'>

In [3]:
df = pd.DataFrame([1,2,3])
print(df)
print(type(df))

   0
0  1
1  2
2  3
<class 'pandas.core.frame.DataFrame'>

In [ ]:
#hw1

Pandas 是資料科學型態
將是娥數學的陣列，封裝程適合資料分析的型態

In [4]:
#hw2
import numpy as np
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [6]:
print(df.size)
print(df.shape)
print(df.values)
print(df.index)
print(df.columns)
print(len(df))

40
(10, 4)
[['France' 44.0 72000.0 'No']
 ['Spain' 27.0 48000.0 'Yes']
 ['Germany' 30.0 54000.0 'No']
 ['Spain' 38.0 61000.0 'No']
 ['Germany' 40.0 nan 'Yes']
 ['France' 35.0 58000.0 'Yes']
 ['Spain' nan 52000.0 'No']
 ['France' 48.0 79000.0 'Yes']
 ['Germany' 50.0 83000.0 'No']
 ['France' 37.0 67000.0 'Yes']]
RangeIndex(start=0, stop=10, step=1)
Index(['Country', 'Age', 'Salary', 'Purchased'], dtype='object')
10